@model IEnumerable<G2_UMA.Models.Payment>

@{
    Layout = "~/Views/Shared/_AccountsLayout.cshtml";
}

<center><strong><h1 style="background-color:mediumspringgreen;">Account Officer Panel </h1></strong></center>
<p>
    <a asp-action="Create"><h3>Insert New Payment</h3></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Months)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Students.Std_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fees.F_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Months.M_Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
