@model IEnumerable<G2_UMA.Models.User>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<center><strong><h1 style="background-color:rosybrown;">Admin Panel </h1></strong></center>

<p>
    <center><strong><h4><a asp-action="Create">Create New User </a></h4></strong></center> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.username">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.username">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.username">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
